#footer {
    height: 150px;
    padding: 50px 0;
    background: #4D8076;
    color: #f5f5f5;

    .footer-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    #footer {
        height: 110px;
        font-size: 15px;
    }
}