#experience {
    min-height: 300px;
    padding: 50px 0px;
    background: rgba(61, 179, 149, 0.527);

    .title {
        text-align: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 135px;
            height: 3px;
            border-radius: 2px;
            background: #00C9A7;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .experience-inner {
        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: 200px;

        .experience {
            width: 30%;
        }
    }
}

@media (max-width: 768px) {
    .experience-inner {
        flex-direction: column;
    }
}