.skill {
    width: 30%;
    min-height: 200px;
    text-align: center;
    background: #f5f5f5;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .skill {
        align-self: center;
        width: 400px;
        min-height: 250px;
    }
}